# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - '*'
pr:
  - '*'

pool:
  vmImage: ubuntu-latest

variables:
  MAVEN_CACHE_FOLDER: $(System.WorkFolder)/../.m2/repository
  MAVEN_OPTS: '-Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)'

jobs:
  - job: JDK17_Maven_Run
    displayName: 'JDK17-Maven-Run'
    timeoutInMinutes: 20
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: Cache@2
        inputs:
          key: 'maven | "$(Agent.OS)" | **/pom.xml'
          restoreKeys: |
            maven | "$(Agent.OS)"
            maven
          path: $(MAVEN_CACHE_FOLDER)
        displayName: Cache Maven local repo
      - task: JavaToolInstaller@0
        displayName: Install jdk17
        inputs:
          versionSpec: '17'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'
      - task: Bash@3
        displayName: Run jdk17 maven
        inputs:
          targetType: 'inline'
          script: |
            ./mvnw clean fmt:check pmd:check pmd:cpd-check checkstyle:check package spotbugs:check site
  - job: JDK21_Maven_Run
    displayName: 'JDK21-Maven-Run'
    timeoutInMinutes: 20
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: Cache@2
        inputs:
          key: 'maven | "$(Agent.OS)" | **/pom.xml'
          restoreKeys: |
            maven | "$(Agent.OS)"
            maven
          path: $(MAVEN_CACHE_FOLDER)
        displayName: Cache Maven local repo
      - task: JavaToolInstaller@0
        displayName: Install jdk21
        inputs:
          versionSpec: '21'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'
      - task: Bash@3
        displayName: Run jdk21 maven
        inputs:
          targetType: 'inline'
          script: |
            ./mvnw clean fmt:check pmd:check pmd:cpd-check checkstyle:check package spotbugs:check site
  - job: JDK25_Maven_Run
    displayName: 'JDK25-Maven-Run'
    timeoutInMinutes: 20
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: Cache@2
        inputs:
          key: 'maven | "$(Agent.OS)" | **/pom.xml'
          restoreKeys: |
            maven | "$(Agent.OS)"
            maven
          path: $(MAVEN_CACHE_FOLDER)
        displayName: Cache Maven local repo
      - task: JavaToolInstaller@0
        displayName: Install jdk25
        inputs:
          versionSpec: '25'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'
      - task: Bash@3
        displayName: Run jdk25 maven
        inputs:
          targetType: 'inline'
          script: |
            ./mvnw clean fmt:check pmd:check pmd:cpd-check checkstyle:check package spotbugs:check site
  - job: JDK17_Gradle_Run
    displayName: 'JDK17-Gradle-Run'
    timeoutInMinutes: 5
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: JavaToolInstaller@0
        displayName: Install jdk17
        inputs:
          versionSpec: '17'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'
      - task: Bash@3
        displayName: Run jdk17 gradle
        inputs:
          targetType: 'inline'
          script: |
            ./gradlew clean build
  - job: JDK21_Gradle_Run
    displayName: 'JDK21-Gradle-Run'
    timeoutInMinutes: 5
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: JavaToolInstaller@0
        displayName: Install jdk21
        inputs:
          versionSpec: '21'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'
      - task: Bash@3
        displayName: Run jdk21 gradle
        inputs:
          targetType: 'inline'
          script: |
            ./gradlew clean build
  - job: JDK25_Gradle_Run
    displayName: 'JDK25-Gradle-Run'
    timeoutInMinutes: 5
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - task: JavaToolInstaller@0
        displayName: Install jdk25
        inputs:
          versionSpec: '25'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'
      - task: Bash@3
        displayName: Run jdk25 gradle
        inputs:
          targetType: 'inline'
          script: |
            ./gradlew clean build
