trigger:
  branches:
    include:
      - master

pr: none

strategy:
  matrix:
    'jdk17-latest':
      javaversion: 'jdk17'
      buildversion: 'latest'
    'jdk21-latest':
      javaversion: 'jdk21'
      buildversion: 'latest'
    'jdk24-latest':
      javaversion: 'jdk24'
      buildversion: 'latest'

variables:
  mvnversion: '3.9.11'

pool:
  vmImage: ubuntu-latest
steps:
  - task: Docker@2
    displayName: Build latest image
    inputs:
      command: build
      containerRegistry: DockerHub
      dockerfile: '$(Build.SourcesDirectory)/docker/$(javaversion)/Dockerfile'
      buildContext: '$(Build.Repository.LocalPath)'
      repository: 'jibijose/httpbin'
      tags: '$(javaversion)-$(buildversion)'
      arguments: '--build-arg MVN_VERSION=$(mvnversion)'
  - task: Bash@3
    displayName: docker build info
    inputs:
      targetType: 'inline'
      script: |
        docker images
  - task: Docker@2
    displayName: 'Login to Docker Hub'
    inputs:
      containerRegistry : 'DockerHub'
      command: 'login'
  - task: Docker@2
    displayName: 'Push to Docker Hub'
    inputs:
      containerRegistry : 'DockerHub'
      command: 'push'
      repository: 'jibijose/httpbin'
      tags: '$(javaversion)-$(buildversion)'
  - task: Docker@2
    displayName: 'Logout from Docker Hub'
    inputs:
      command: 'logout'

