<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>${server-username}</username>
      <password>${server-password}</password>
    </server>
  </servers>


  <profiles>
    <profile>
      <id>sign</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg</gpg.executable>
        <gpg.passphrase>${gpg-password}</gpg.passphrase>
      </properties>
    </profile>
  </profiles>


</settings> 