version: 2.1

orbs:
  codecov: codecov/codecov@3.2.5

codecov:
  require_ci_to_pass: yes

shared: 
  - &shared-maven
    steps:
      - checkout
      - restore_cache:
          key: proguard-with-maven-example-{{ checksum "pom.xml" }}
      - run: ./mvnw -v
      - run: ./mvnw dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: proguard-with-maven-example-{{ checksum "pom.xml" }}
      - run: ./mvnw package
      - run: apt update && apt install curl gpg -y
      - codecov/upload
  - &shared-gradle
    steps:
      - checkout
      - restore_cache:
          key: v1-dependencies-{{ checksum "build.gradle" }}
      - run: ./gradlew -v
      - run: ./gradlew dependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}
      - run: ./gradlew -i test assemble

jobs:
  jdk17-maven:
    docker:
      - image: cimg/openjdk:17.0
    <<: *shared-maven
  jdk21-maven:
    docker:
      - image: cimg/openjdk:21.0
    <<: *shared-maven
  jdk17-gradle:
    docker:
      - image: cimg/openjdk:17.0
    <<: *shared-gradle
  jdk21-gradle:
    docker:
      - image: cimg/openjdk:21.0
    <<: *shared-gradle

workflows:
  maven: 
    jobs:
      - jdk17-maven
      - jdk21-maven
  gradle: 
    jobs:
      - jdk17-gradle
      - jdk21-gradle