<configuration>

    <contextName>WebContext</contextName>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5p | [%thread] [%X{APPNAME}] %logger{5}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.jibi" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root>
        <level value="${logger.root.level:-WARN}"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>