---
swagger: "2.0"
info:
  description: "Java httpbin apis"
  version: "1.0.0"
  title: "Java httpbin apis"
  termsOfService: "https://github.com/jibijose/httpbin"
  contact:
    name: "Jibi Jose"
    url: "https://httpbin.org"
    email: "jibijose@yahoo.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "a03e2976afe0c11e9b28f12963f50b82-477664170.us-east-1.elb.amazonaws.com"
tags:
- name: "Cpu Api"
- name: "Delay Api"
- name: "Disk Api"
- name: "File Api"
- name: "Health Api"
- name: "Memory Api"
- name: "Request Api"
- name: "Status codes Api"
- name: "System information Api"
- name: "Upload Download Api"
schemes:
- "http"
paths:
  /cpu/all/{percentage}/{time}:
    get:
      tags:
      - "Cpu Api"
      summary: "Cpu all processors operation"
      description: ""
      operationId: "cpuAllProcessors"
      parameters:
      - name: "percentage"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
          schema:
            type: "string"
        500:
          description: "Internal server error"
  /cpu/single/{percentage}/{time}:
    get:
      tags:
      - "Cpu Api"
      summary: "Cpu single processors operation"
      description: ""
      operationId: "cpuSingleProcessor"
      parameters:
      - name: "percentage"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
          schema:
            type: "string"
        500:
          description: "Internal server error"
  /delay/random/{unit}/range/{minTime}/{maxTime}:
    get:
      tags:
      - "Delay Api"
      summary: "Delay random range api"
      description: ""
      operationId: "delayRandomRange"
      parameters:
      - name: "unit"
        in: "path"
        description: "Unit of time"
        required: true
        type: "string"
        enum:
        - "millis"
        - "seconds"
        - "minutes"
      - name: "minTime"
        in: "path"
        description: "Minimum time"
        required: true
        type: "integer"
        format: "int32"
      - name: "maxTime"
        in: "path"
        description: "Maximum time"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
        500:
          description: "Internal server error"
  /delay/random/{unit}/{time}:
    get:
      tags:
      - "Delay Api"
      summary: "Delay random api"
      description: ""
      operationId: "delayRandom"
      parameters:
      - name: "unit"
        in: "path"
        description: "Unit of time"
        required: true
        type: "string"
        enum:
        - "millis"
        - "seconds"
        - "minutes"
      - name: "time"
        in: "path"
        description: "Time"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
        500:
          description: "Internal server error"
  /delay/{unit}/{time}:
    get:
      tags:
      - "Delay Api"
      summary: "Delay constant api"
      description: ""
      operationId: "delayConstant"
      parameters:
      - name: "unit"
        in: "path"
        required: true
        type: "string"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
        500:
          description: "Internal server error"
  /disk/read/{unit}/{count}:
    get:
      tags:
      - "Disk Api"
      summary: "Disk read api"
      description: ""
      operationId: "read"
      produces:
      - "text/plain"
      parameters:
      - name: "unit"
        in: "path"
        required: true
        type: "string"
      - name: "count"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
        500:
          description: "Internal server error"
  /disk/write/{unit}/{count}:
    get:
      tags:
      - "Disk Api"
      summary: "Disk write api"
      description: ""
      operationId: "write"
      produces:
      - "text/plain"
      parameters:
      - name: "unit"
        in: "path"
        required: true
        type: "string"
      - name: "count"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
        500:
          description: "Internal server error"
  /download:
    get:
      tags:
      - "Upload Download Api"
      summary: "Download api"
      description: ""
      operationId: "download"
      produces:
      - "text/plain"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /download/{size}:
    get:
      tags:
      - "Upload Download Api"
      summary: "Download Size api"
      description: ""
      operationId: "downloadSize"
      produces:
      - "text/plain"
      parameters:
      - name: "size"
        in: "path"
        description: "Txt file size"
        required: true
        type: "string"
        enum:
        - "1B"
        - "10B"
        - "100B"
        - "1KB"
        - "10KB"
        - "100KB"
        - "1MB"
        - "10MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/audio/mp3/{size}:
    get:
      tags:
      - "File Api"
      summary: "File audio mp3 file operation"
      description: ""
      operationId: "audioMp3Size"
      produces:
      - "audio/mpeg3"
      parameters:
      - name: "size"
        in: "path"
        description: "Mp3 file size"
        required: true
        type: "string"
        enum:
        - "700KB"
        - "1MB"
        - "2MB"
        - "5MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/audio/ogg/{size}:
    get:
      tags:
      - "File Api"
      summary: "File audio ogg file operation"
      description: ""
      operationId: "audioOggSize"
      produces:
      - "audio/ogg"
      parameters:
      - name: "size"
        in: "path"
        description: "Ogg file size"
        required: true
        type: "string"
        enum:
        - "1MB"
        - "2MB"
        - "5MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/audio/wav/{size}:
    get:
      tags:
      - "File Api"
      summary: "File audio wav file operation"
      description: ""
      operationId: "audioWavSize"
      produces:
      - "audio/wav"
      parameters:
      - name: "size"
        in: "path"
        description: "Wav file size"
        required: true
        type: "string"
        enum:
        - "1MB"
        - "2MB"
        - "5MB"
        - "10MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/audio/{fileType}:
    get:
      tags:
      - "File Api"
      summary: "File audio file operation"
      description: ""
      operationId: "audioFileType"
      produces:
      - "audio/mpeg3"
      - "audio/wav"
      - "audio/ogg"
      parameters:
      - name: "fileType"
        in: "path"
        description: "File type"
        required: true
        type: "string"
        enum:
        - "random"
        - "mp3"
        - "wav"
        - "ogg"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/document/doc/{size}:
    get:
      tags:
      - "File Api"
      summary: "File document doc file operation"
      description: ""
      operationId: "documentDocSize"
      produces:
      - "application/doc"
      parameters:
      - name: "size"
        in: "path"
        description: "Doc file size"
        required: true
        type: "string"
        enum:
        - "100KB"
        - "500KB"
        - "1MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/document/docx/{size}:
    get:
      tags:
      - "File Api"
      summary: "File document docx file operation"
      description: ""
      operationId: "documentDocxSize"
      produces:
      - "application/doc"
      parameters:
      - name: "size"
        in: "path"
        description: "Docx file size"
        required: true
        type: "string"
        enum:
        - "100KB"
        - "500KB"
        - "1MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/document/odp/{size}:
    get:
      tags:
      - "File Api"
      summary: "File document odp file operation"
      description: ""
      operationId: "documentOdpSize"
      produces:
      - "application/odp"
      parameters:
      - name: "size"
        in: "path"
        description: "Odp file size"
        required: true
        type: "string"
        enum:
        - "100KB"
        - "500KB"
        - "1MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/document/ods/{size}:
    get:
      tags:
      - "File Api"
      summary: "File document ods file operation"
      description: ""
      operationId: "documentOdsSize"
      produces:
      - "application/ods"
      parameters:
      - name: "size"
        in: "path"
        description: "Ods file size"
        required: true
        type: "string"
        enum:
        - "100KB"
        - "500KB"
        - "1MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/document/odt/{size}:
    get:
      tags:
      - "File Api"
      summary: "File document odt file operation"
      description: ""
      operationId: "documentOdtSize"
      produces:
      - "application/odt"
      parameters:
      - name: "size"
        in: "path"
        description: "Odt file size"
        required: true
        type: "string"
        enum:
        - "100KB"
        - "500KB"
        - "1MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/document/pdf/{size}:
    get:
      tags:
      - "File Api"
      summary: "File document pdf file operation"
      description: ""
      operationId: "documentPdfSize"
      produces:
      - "application/pdf"
      parameters:
      - name: "size"
        in: "path"
        description: "Pdf file size"
        required: true
        type: "string"
        enum:
        - "100KB"
        - "500KB"
        - "1MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/document/ppt/{size}:
    get:
      tags:
      - "File Api"
      summary: "File document ppt file operation"
      description: ""
      operationId: "documentPptSize"
      produces:
      - "application/ppt"
      parameters:
      - name: "size"
        in: "path"
        description: "Ppt file size"
        required: true
        type: "string"
        enum:
        - "100KB"
        - "500KB"
        - "1MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/document/rtf/{size}:
    get:
      tags:
      - "File Api"
      summary: "File document rtf file operation"
      description: ""
      operationId: "documentRtfSize"
      produces:
      - "application/rtf"
      parameters:
      - name: "size"
        in: "path"
        description: "Rtf file size"
        required: true
        type: "string"
        enum:
        - "100KB"
        - "500KB"
        - "1MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/document/xls/{size}:
    get:
      tags:
      - "File Api"
      summary: "File document xls file operation"
      description: ""
      operationId: "documentXlsSize"
      produces:
      - "application/xls"
      parameters:
      - name: "size"
        in: "path"
        description: "Xls file size"
        required: true
        type: "string"
        enum:
        - "100KB"
        - "500KB"
        - "1MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/document/xlsx/{size}:
    get:
      tags:
      - "File Api"
      summary: "File document xlsx file operation"
      description: ""
      operationId: "documentXlsxSize"
      produces:
      - "application/xls"
      parameters:
      - name: "size"
        in: "path"
        description: "Xlsx file size"
        required: true
        type: "string"
        enum:
        - "100KB"
        - "500KB"
        - "1MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/document/{fileType}:
    get:
      tags:
      - "File Api"
      summary: "File document file operation"
      description: ""
      operationId: "documentFileType"
      produces:
      - "application/doc"
      - "application/excel"
      - "application/powerpoint"
      - "application/pdf"
      - "application/odt"
      - "application/ods"
      - "application/odp"
      - "application/rtf"
      parameters:
      - name: "fileType"
        in: "path"
        description: "File type"
        required: true
        type: "string"
        enum:
        - "random"
        - "doc"
        - "docx"
        - "xls"
        - "xlsx"
        - "ppt"
        - "pdf"
        - "odt"
        - "ods"
        - "odp"
        - "rtf"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/image/gif/{size}:
    get:
      tags:
      - "File Api"
      summary: "File image gif file operation"
      description: ""
      operationId: "imageGifSize"
      produces:
      - "image/gif"
      parameters:
      - name: "size"
        in: "path"
        description: "Gif file size"
        required: true
        type: "string"
        enum:
        - "500KB"
        - "1MB"
        - "3.5MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/image/ico/{size}:
    get:
      tags:
      - "File Api"
      summary: "File image ico file operation"
      description: ""
      operationId: "imageIcoSize"
      produces:
      - "image/x-icon"
      parameters:
      - name: "size"
        in: "path"
        description: "Ico file size"
        required: true
        type: "string"
        enum:
        - "400B"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/image/jpg/{size}:
    get:
      tags:
      - "File Api"
      summary: "File image jpg file operation"
      description: ""
      operationId: "imageJpgSize"
      produces:
      - "image/jpeg"
      parameters:
      - name: "size"
        in: "path"
        description: "Jpg file size"
        required: true
        type: "string"
        enum:
        - "random"
        - "100KB"
        - "500KB"
        - "1MB"
        - "2.5MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/image/png/{size}:
    get:
      tags:
      - "File Api"
      summary: "File image png file operation"
      description: ""
      operationId: "imagePngSize"
      produces:
      - "image/png"
      parameters:
      - name: "size"
        in: "path"
        description: "Png file size"
        required: true
        type: "string"
        enum:
        - "500KB"
        - "1MB"
        - "2MB"
        - "3MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/image/tiff/{size}:
    get:
      tags:
      - "File Api"
      summary: "File image tiff file operation"
      description: ""
      operationId: "imageTiffSize"
      produces:
      - "image/tiff"
      parameters:
      - name: "size"
        in: "path"
        description: "Tiff file size"
        required: true
        type: "string"
        enum:
        - "1MB"
        - "5MB"
        - "10MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/image/{fileType}:
    get:
      tags:
      - "File Api"
      summary: "File image file operation"
      description: ""
      operationId: "imageFileType"
      produces:
      - "image/jpeg"
      - "image/gif"
      - "image/png"
      - "image/tiff"
      - "image/x-icon"
      parameters:
      - name: "fileType"
        in: "path"
        description: "File type"
        required: true
        type: "string"
        enum:
        - "random"
        - "jpg"
        - "gif"
        - "png"
        - "tiff"
        - "ico"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/other/csv/{size}:
    get:
      tags:
      - "File Api"
      summary: "File other csv file operation"
      description: ""
      operationId: "otherCsvSize"
      produces:
      - "text/csv"
      parameters:
      - name: "size"
        in: "path"
        description: "Csv file size"
        required: true
        type: "string"
        enum:
        - "7KB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/other/html/{size}:
    get:
      tags:
      - "File Api"
      summary: "File other html file operation"
      description: ""
      operationId: "otherHtmlSize"
      produces:
      - "text/html"
      parameters:
      - name: "size"
        in: "path"
        description: "Html file size"
        required: true
        type: "string"
        enum:
        - "4KB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/other/txt/{size}:
    get:
      tags:
      - "File Api"
      summary: "File other txt file operation"
      description: ""
      operationId: "otherTxtSize"
      produces:
      - "text/plain"
      parameters:
      - name: "size"
        in: "path"
        description: "Txt file size"
        required: true
        type: "string"
        enum:
        - "1B"
        - "10B"
        - "100B"
        - "1KB"
        - "10KB"
        - "100KB"
        - "1MB"
        - "10MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/other/zip/{size}:
    get:
      tags:
      - "File Api"
      summary: "File other zip file operation"
      description: ""
      operationId: "otherZipSize"
      produces:
      - "application/zip"
      parameters:
      - name: "size"
        in: "path"
        description: "Zip file size"
        required: true
        type: "string"
        enum:
        - "2MB"
        - "5MB"
        - "9MB"
        - "10MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/other/{fileType}:
    get:
      tags:
      - "File Api"
      summary: "File other file operation"
      description: ""
      operationId: "otherFileType"
      produces:
      - "text/csv"
      - "text/html"
      - "text/plain"
      - "application/zip"
      parameters:
      - name: "fileType"
        in: "path"
        description: "File type"
        required: true
        type: "string"
        enum:
        - "csv"
        - "html"
        - "txt"
        - "zip"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/video/avi/{size}:
    get:
      tags:
      - "File Api"
      summary: "File video avi file operation"
      description: ""
      operationId: "videoAviSize"
      produces:
      - "video/avi"
      parameters:
      - name: "size"
        in: "path"
        description: "Avi file size"
        required: true
        type: "string"
        enum:
        - "random"
        - "750KB"
        - "800KB"
        - "1.5MB"
        - "2.3MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/video/mov/{size}:
    get:
      tags:
      - "File Api"
      summary: "File video mov file operation"
      description: ""
      operationId: "videoMovSize"
      produces:
      - "video/mov"
      parameters:
      - name: "size"
        in: "path"
        description: "Mov file size"
        required: true
        type: "string"
        enum:
        - "700KB"
        - "800KB"
        - "1.4MB"
        - "2.2MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/video/mp4/{size}:
    get:
      tags:
      - "File Api"
      summary: "File video mp4 file operation"
      description: ""
      operationId: "videoMp4Size"
      produces:
      - "video/mp4"
      parameters:
      - name: "size"
        in: "path"
        description: "Mp4 file size"
        required: true
        type: "string"
        enum:
        - "1.5MB"
        - "3MB"
        - "10MB"
        - "18MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/video/ogg/{size}:
    get:
      tags:
      - "File Api"
      summary: "File video ogg file operation"
      description: ""
      operationId: "videoOggSize"
      produces:
      - "video/ogg"
      parameters:
      - name: "size"
        in: "path"
        description: "Ogg file size"
        required: true
        type: "string"
        enum:
        - "1.7MB"
        - "2.7MB"
        - "11.4MB"
        - "13.3MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/video/wmv/{size}:
    get:
      tags:
      - "File Api"
      summary: "File video wmv file operation"
      description: ""
      operationId: "videoWmvSize"
      produces:
      - "video/wmv"
      parameters:
      - name: "size"
        in: "path"
        description: "Wmv file size"
        required: true
        type: "string"
        enum:
        - "1.2MB"
        - "1.6MB"
        - "4.9MB"
        - "9.3MB"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/video/{fileType}:
    get:
      tags:
      - "File Api"
      summary: "File video file operation"
      description: ""
      operationId: "videoFileType"
      produces:
      - "video/avi"
      - "video/mov"
      - "video/mp4"
      - "video/ogg"
      - "video/wmv"
      parameters:
      - name: "fileType"
        in: "path"
        description: "File type"
        required: true
        type: "string"
        enum:
        - "avi"
        - "mov"
        - "mp4"
        - "png"
        - "ogg"
        - "wmv"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /health:
    get:
      tags:
      - "Health Api"
      summary: "Health api"
      description: ""
      operationId: "health"
      produces:
      - "application/json"
      - "application/xml"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/HealthModel"
        500:
          description: "Internal server error"
  /memory/{bytes}/{time}:
    get:
      tags:
      - "Memory Api"
      summary: "Memory hold operation"
      description: ""
      operationId: "memoryHold"
      parameters:
      - name: "bytes"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
          schema:
            type: "string"
        500:
          description: "Internal server error"
  /request/headers:
    get:
      tags:
      - "Request Api"
      summary: "Request headers operation"
      description: ""
      operationId: "headers"
      produces:
      - "application/json"
      parameters:
      - name: "headers"
        in: "header"
        description: "Map of headers"
        required: true
        type: "object"
      responses:
        200:
          description: "Ok"
          schema:
            type: "object"
            additionalProperties:
              type: "object"
        500:
          description: "Internal server error"
  /status/random/{codes}:
    get:
      tags:
      - "Status codes Api"
      summary: "Status random code api"
      description: ""
      operationId: "statusRandomCodes"
      parameters:
      - name: "codes"
        in: "path"
        description: "Comma separated status codes"
        required: true
        type: "string"
      responses:
        200:
          description: "Ok"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
  /status/{code}:
    get:
      tags:
      - "Status codes Api"
      summary: "Status code api"
      description: "Api to respond with the status code in uri"
      operationId: "statusCode"
      parameters:
      - name: "code"
        in: "path"
        description: "Status code of response"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
  /system/info:
    get:
      tags:
      - "System information Api"
      summary: "System information api"
      description: ""
      operationId: "systemInfo"
      produces:
      - "application/json"
      - "application/xml"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/SystemInfoModel"
        500:
          description: "Internal server error"
  /upload:
    post:
      tags:
      - "Upload Download Api"
      summary: "Upload api"
      description: ""
      operationId: "upload"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "file"
        in: "query"
        required: true
        type: "ref"
      responses:
        200:
          description: "Ok"
          schema:
            $ref: "#/definitions/UploadInfoModel"
        500:
          description: "Internal server error"
definitions:
  CpuInfoModel:
    type: "object"
    properties:
      processCpuLoad:
        type: "string"
      processCpuTime:
        type: "string"
      systemCpuLoad:
        type: "string"
      systemLoadAverage:
        type: "string"
  DiskInfoModel:
    type: "object"
    properties:
      freeSpace:
        type: "string"
      freeSpaceFormatted:
        type: "string"
      usableSpace:
        type: "string"
      usableSpaceFormatted:
        type: "string"
      totalSpace:
        type: "string"
      totalSpaceFormatted:
        type: "string"
  HealthModel:
    type: "object"
    properties:
      status:
        type: "string"
      date:
        type: "string"
        format: "date-time"
  MemoryInfoModel:
    type: "object"
    properties:
      freeBytes:
        type: "string"
      freeFormatted:
        type: "string"
      allocatedBytes:
        type: "string"
      allocatedFormatted:
        type: "string"
      maxBytes:
        type: "string"
      maxFormatted:
        type: "string"
      usedBytes:
        type: "string"
      usedFormatted:
        type: "string"
  OsInfoModel:
    type: "object"
    properties:
      name:
        type: "string"
      version:
        type: "string"
      arch:
        type: "string"
      processors:
        type: "string"
  SystemInfoModel:
    type: "object"
    properties:
      cpu:
        $ref: "#/definitions/CpuInfoModel"
      os:
        $ref: "#/definitions/OsInfoModel"
      memory:
        $ref: "#/definitions/MemoryInfoModel"
      disks:
        type: "object"
        additionalProperties:
          $ref: "#/definitions/DiskInfoModel"
  UploadInfoModel:
    type: "object"
    properties:
      uploadedBytesLength:
        type: "string"
      contentType:
        type: "string"
      name:
        type: "string"
      originalFileName:
        type: "string"
      size:
        type: "string"
      status:
        type: "string"
