---
swagger: "2.0"
info:
  description: "Java httpbin apis"
  version: "1.0.0"
  title: "Java httpbin apis"
  termsOfService: "https://github.com/jibijose/httpbin"
  contact:
    name: "Jibi Jose"
    url: "https://httpbin.org"
    email: "jibijose@yahoo.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "www.jibijose.com"
basePath: "/api"
tags:
- name: "Cpu Api"
- name: "Delay Api"
- name: "File Api"
- name: "Health Api"
- name: "Memory Api"
- name: "Request Api"
- name: "Status codes Api"
schemes:
- "http"
- "https"
paths:
  /cpu/all/{percentage}/{time}:
    get:
      tags:
      - "Cpu Api"
      summary: "Cpu all processors operation"
      description: ""
      operationId: "cpuAllProcessors"
      parameters:
      - name: "percentage"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
          schema:
            type: "string"
        500:
          description: "Internal server error"
  /cpu/single/{percentage}/{time}:
    get:
      tags:
      - "Cpu Api"
      summary: "Cpu single processors operation"
      description: ""
      operationId: "cpuSingleProcessor"
      parameters:
      - name: "percentage"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
          schema:
            type: "string"
        500:
          description: "Internal server error"
  /delay/random/{unit}/range/{minTime}/{maxTime}:
    get:
      tags:
      - "Delay Api"
      summary: "Delay random range api"
      description: ""
      operationId: "delayRandomRange"
      parameters:
      - name: "unit"
        in: "path"
        required: true
        type: "string"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
        500:
          description: "Internal server error"
  /delay/random/{unit}/{time}:
    get:
      tags:
      - "Delay Api"
      summary: "Delay random api"
      description: ""
      operationId: "delayRandom"
      parameters:
      - name: "unit"
        in: "path"
        required: true
        type: "string"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
        500:
          description: "Internal server error"
  /delay/{unit}/{time}:
    get:
      tags:
      - "Delay Api"
      summary: "Delay constant api"
      description: ""
      operationId: "delayConstant"
      parameters:
      - name: "unit"
        in: "path"
        required: true
        type: "string"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
        500:
          description: "Internal server error"
  /file/100KB/jpg:
    get:
      tags:
      - "File Api"
      summary: "File 100KB jpg operation"
      description: ""
      operationId: "jpg100KB"
      produces:
      - "image/jpeg"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/1MB/gif:
    get:
      tags:
      - "File Api"
      summary: "File 1MB gif operation"
      description: ""
      operationId: "gif1MB"
      produces:
      - "image/gif"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/1MB/jpg:
    get:
      tags:
      - "File Api"
      summary: "File 1MB jpg operation"
      description: ""
      operationId: "jpg1MB"
      produces:
      - "image/jpeg"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/2.5MB/jpg:
    get:
      tags:
      - "File Api"
      summary: "File 2.5MB jpg operation"
      description: ""
      operationId: "jpg2p5MB"
      produces:
      - "image/jpeg"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/3.5MB/gif:
    get:
      tags:
      - "File Api"
      summary: "File 3.5MB gif operation"
      description: ""
      operationId: "gif3p5MB"
      produces:
      - "image/gif"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/500KB/gif:
    get:
      tags:
      - "File Api"
      summary: "File 500KB gif operation"
      description: ""
      operationId: "gif500KB"
      produces:
      - "image/gif"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/500KB/jpg:
    get:
      tags:
      - "File Api"
      summary: "File 500KB jpg operation"
      description: ""
      operationId: "jpg500KB"
      produces:
      - "image/jpeg"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/gif:
    get:
      tags:
      - "File Api"
      summary: "File gif operation"
      description: ""
      operationId: "gif"
      produces:
      - "image/gif"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/ico:
    get:
      tags:
      - "File Api"
      summary: "File ico operation"
      description: ""
      operationId: "ico"
      produces:
      - "image/vnd.microsoft.icon"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/jpg:
    get:
      tags:
      - "File Api"
      summary: "File jpg operation"
      description: ""
      operationId: "jpg"
      produces:
      - "image/jpeg"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/png:
    get:
      tags:
      - "File Api"
      summary: "File png operation"
      description: ""
      operationId: "png"
      produces:
      - "image/png"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/tiff:
    get:
      tags:
      - "File Api"
      summary: "File tiff operation"
      description: ""
      operationId: "tiff"
      produces:
      - "image/tiff"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /file/{fileType}:
    get:
      tags:
      - "File Api"
      summary: "File file operation"
      description: ""
      operationId: "file"
      produces:
      - "image/jpeg"
      - "image/gif"
      parameters:
      - name: "fileType"
        in: "path"
        required: true
        type: "string"
        enum:
        - "jpg"
        - "gif"
      responses:
        200:
          description: "Ok"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
        500:
          description: "Internal server error"
  /health:
    get:
      tags:
      - "Health Api"
      summary: "Health api"
      description: ""
      operationId: "health"
      produces:
      - "text/plain"
      parameters: []
      responses:
        200:
          description: "Ok"
          schema:
            type: "string"
        500:
          description: "Internal server error"
  /memory/{bytes}/{time}:
    get:
      tags:
      - "Memory Api"
      summary: "Memory hold operation"
      description: ""
      operationId: "memoryHold"
      parameters:
      - name: "bytes"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
          schema:
            type: "string"
        500:
          description: "Internal server error"
  /request/headers:
    get:
      tags:
      - "Request Api"
      summary: "Request headers operation"
      description: ""
      operationId: "headers"
      produces:
      - "application/json"
      parameters:
      - name: "headers"
        in: "header"
        required: true
        type: "object"
      responses:
        200:
          description: "Ok"
          schema:
            type: "object"
            additionalProperties:
              type: "object"
        500:
          description: "Internal server error"
  /status/random/{codes}:
    get:
      tags:
      - "Status codes Api"
      summary: "Status random code api"
      description: ""
      operationId: "statusRandomCodes"
      parameters:
      - name: "codes"
        in: "path"
        description: "Comma separated status codes"
        required: true
        type: "string"
      responses:
        200:
          description: "Ok"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
  /status/{code}:
    get:
      tags:
      - "Status codes Api"
      summary: "Status code api"
      description: "Api to respond with the status code in uri"
      operationId: "statusCode"
      parameters:
      - name: "code"
        in: "path"
        description: "Status code of response"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "Ok"
        400:
          description: "Bad request"
        500:
          description: "Internal server error"
