---
swagger: "2.0"
info:
  description: "Java httpbin apis"
  version: "1.2.3"
  title: "Java httpbin apis"
  termsOfService: "https://github.com/jibijose/httpbin"
  contact:
    name: "Jibi Jose"
    url: "https://httpbin.org"
    email: "jibijose@yahoo.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "jibici.eastus.azurecontainer.io:8080"
schemes:
- "http"
paths:
  /cpu/all/{percentage}/{time}:
    get:
      operationId: "cpuAllProcessors"
      parameters:
      - name: "percentage"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        default:
          description: "successful operation"
  /cpu/single/{percentage}/{time}:
    get:
      operationId: "cpuSingleProcessor"
      parameters:
      - name: "percentage"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        default:
          description: "successful operation"
  /delay/random/{unit}/range/{minTime}/{maxTime}:
    get:
      operationId: "delayRandomRange"
      parameters:
      - name: "unit"
        in: "path"
        required: true
        type: "string"
      - name: "minTime"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      - name: "maxTime"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        default:
          description: "successful operation"
  /delay/random/{unit}/{time}:
    get:
      operationId: "delayRandom"
      parameters:
      - name: "unit"
        in: "path"
        required: true
        type: "string"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        default:
          description: "successful operation"
  /delay/{unit}/{time}:
    get:
      operationId: "delayConstant"
      parameters:
      - name: "unit"
        in: "path"
        required: true
        type: "string"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        default:
          description: "successful operation"
  /disk/read/{unit}/{count}:
    get:
      operationId: "read"
      produces:
      - "text/plain"
      parameters:
      - name: "unit"
        in: "path"
        required: true
        type: "string"
      - name: "count"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        default:
          description: "successful operation"
  /disk/write/{unit}/{count}:
    get:
      operationId: "write"
      produces:
      - "text/plain"
      parameters:
      - name: "unit"
        in: "path"
        required: true
        type: "string"
      - name: "count"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        default:
          description: "successful operation"
  /download:
    get:
      operationId: "download"
      produces:
      - "text/plain"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /download/{size}:
    get:
      operationId: "downloadSize"
      produces:
      - "text/plain"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/audio/mp3/{size}:
    get:
      operationId: "audioMp3Size"
      produces:
      - "audio/mpeg3"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/audio/ogg/{size}:
    get:
      operationId: "audioOggSize"
      produces:
      - "audio/ogg"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/audio/wav/{size}:
    get:
      operationId: "audioWavSize"
      produces:
      - "audio/wav"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/audio/{fileType}:
    get:
      operationId: "audioFileType"
      produces:
      - "audio/mpeg3"
      - "audio/wav"
      - "audio/ogg"
      parameters:
      - name: "fileType"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/document/doc/{size}:
    get:
      operationId: "documentDocSize"
      produces:
      - "application/doc"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/document/docx/{size}:
    get:
      operationId: "documentDocxSize"
      produces:
      - "application/doc"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/document/odp/{size}:
    get:
      operationId: "documentOdpSize"
      produces:
      - "application/odp"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/document/ods/{size}:
    get:
      operationId: "documentOdsSize"
      produces:
      - "application/ods"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/document/odt/{size}:
    get:
      operationId: "documentOdtSize"
      produces:
      - "application/odt"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/document/pdf/{size}:
    get:
      operationId: "documentPdfSize"
      produces:
      - "application/pdf"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/document/ppt/{size}:
    get:
      operationId: "documentPptSize"
      produces:
      - "application/ppt"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/document/rtf/{size}:
    get:
      operationId: "documentRtfSize"
      produces:
      - "application/rtf"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/document/xls/{size}:
    get:
      operationId: "documentXlsSize"
      produces:
      - "application/xls"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/document/xlsx/{size}:
    get:
      operationId: "documentXlsxSize"
      produces:
      - "application/xls"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/document/{fileType}:
    get:
      operationId: "documentFileType"
      produces:
      - "application/doc"
      - "application/excel"
      - "application/powerpoint"
      - "application/pdf"
      - "application/odt"
      - "application/ods"
      - "application/odp"
      - "application/rtf"
      parameters:
      - name: "fileType"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/image/gif/{size}:
    get:
      operationId: "imageGifSize"
      produces:
      - "image/gif"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/image/ico/{size}:
    get:
      operationId: "imageIcoSize"
      produces:
      - "image/x-icon"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/image/jpg/{size}:
    get:
      operationId: "imageJpgSize"
      produces:
      - "image/jpeg"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/image/png/{size}:
    get:
      operationId: "imagePngSize"
      produces:
      - "image/png"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/image/tiff/{size}:
    get:
      operationId: "imageTiffSize"
      produces:
      - "image/tiff"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/image/{fileType}:
    get:
      operationId: "imageFileType"
      produces:
      - "image/jpeg"
      - "image/gif"
      - "image/png"
      - "image/tiff"
      - "image/x-icon"
      parameters:
      - name: "fileType"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/other/csv/{size}:
    get:
      operationId: "otherCsvSize"
      produces:
      - "text/csv"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/other/html/{size}:
    get:
      operationId: "otherHtmlSize"
      produces:
      - "text/html"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/other/txt/{size}:
    get:
      operationId: "otherTxtSize"
      produces:
      - "text/plain"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/other/zip/{size}:
    get:
      operationId: "otherZipSize"
      produces:
      - "application/zip"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/other/{fileType}:
    get:
      operationId: "otherFileType"
      produces:
      - "text/csv"
      - "text/html"
      - "text/plain"
      - "application/zip"
      parameters:
      - name: "fileType"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/video/avi/{size}:
    get:
      operationId: "videoAviSize"
      produces:
      - "video/avi"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/video/mov/{size}:
    get:
      operationId: "videoMovSize"
      produces:
      - "video/mov"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/video/mp4/{size}:
    get:
      operationId: "videoMp4Size"
      produces:
      - "video/mp4"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/video/ogg/{size}:
    get:
      operationId: "videoOggSize"
      produces:
      - "video/ogg"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/video/wmv/{size}:
    get:
      operationId: "videoWmvSize"
      produces:
      - "video/wmv"
      parameters:
      - name: "size"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /file/video/{fileType}:
    get:
      operationId: "videoFileType"
      produces:
      - "video/avi"
      - "video/mov"
      - "video/mp4"
      - "video/ogg"
      - "video/wmv"
      parameters:
      - name: "fileType"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
              format: "byte"
  /memory/{bytes}/{time}:
    get:
      operationId: "memoryHold"
      parameters:
      - name: "bytes"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      - name: "time"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        default:
          description: "successful operation"
  /request/headers:
    get:
      operationId: "headers"
      produces:
      - "application/json"
      parameters:
      - name: "headers"
        in: "header"
        required: true
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            additionalProperties:
              type: "string"
  /status/random/{codes}:
    get:
      operationId: "statusRandomCodes"
      parameters:
      - name: "codes"
        in: "path"
        required: true
        type: "string"
      responses:
        default:
          description: "successful operation"
  /status/{code}:
    get:
      operationId: "statusCode"
      parameters:
      - name: "code"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
      responses:
        default:
          description: "successful operation"
  /system/info:
    get:
      operationId: "systemInfo"
      produces:
      - "application/json"
      - "application/xml"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/SystemInfoModel"
  /upload:
    post:
      operationId: "upload"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "file"
        in: "query"
        required: true
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/UploadInfoModel"
definitions:
  CpuInfoModel:
    type: "object"
    properties:
      processCpuLoad:
        type: "string"
      processCpuTime:
        type: "string"
      systemCpuLoad:
        type: "string"
      systemLoadAverage:
        type: "string"
  DiskInfoModel:
    type: "object"
    properties:
      freeSpace:
        type: "string"
      freeSpaceFormatted:
        type: "string"
      usableSpace:
        type: "string"
      usableSpaceFormatted:
        type: "string"
      totalSpace:
        type: "string"
      totalSpaceFormatted:
        type: "string"
  MemoryInfoModel:
    type: "object"
    properties:
      freeBytes:
        type: "string"
      freeFormatted:
        type: "string"
      allocatedBytes:
        type: "string"
      allocatedFormatted:
        type: "string"
      maxBytes:
        type: "string"
      maxFormatted:
        type: "string"
      usedBytes:
        type: "string"
      usedFormatted:
        type: "string"
  OsInfoModel:
    type: "object"
    properties:
      name:
        type: "string"
      version:
        type: "string"
      arch:
        type: "string"
      processors:
        type: "string"
  SystemInfoModel:
    type: "object"
    properties:
      cpu:
        $ref: "#/definitions/CpuInfoModel"
      os:
        $ref: "#/definitions/OsInfoModel"
      memory:
        $ref: "#/definitions/MemoryInfoModel"
      disks:
        type: "object"
        additionalProperties:
          $ref: "#/definitions/DiskInfoModel"
  UploadInfoModel:
    type: "object"
    properties:
      uploadedBytesLength:
        type: "string"
      contentType:
        type: "string"
      name:
        type: "string"
      originalFileName:
        type: "string"
      size:
        type: "string"
      status:
        type: "string"
